argon2-cffi-bindings
blosc
boost-cpp
bottleneck
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
cairo
catalogue
cffi
cfitsio
colorlog
confection
contourpy
curl
cymem
cython-blis
debugpy
expat
fiona
fontconfig
fonttools
freetype
freexl
gdal
geos
geotiff
gettext
giflib
greenlet
hdf4
hdf5
icu
jpeg
json-c
jsonpointer
jupyter_core
kealib
keyutils
kiwisolver
krb5
lcms2
ld_impl_linux-aarch64
lerc
libaec
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libdap4
libdeflate
libev
libexpat
libffi
libgcc-ng
libgdal
libgfortran-ng
libgfortran5
libglib
libgomp
libiconv
libkml
libnetcdf
libnghttp2
libnsl
libopenblas
libpng
libpq
librttopo
libsodium
libspatialindex
libspatialite
libsqlite
libssh2
libstdcxx-ng
libtiff
libuuid
libwebp
libwebp-base
libxcb
libxcrypt
libxgboost
libxml2
libzip
libzlib
lz4-c
markupsafe
matplotlib
matplotlib-base
murmurhash
ncurses
nspr
nss
numexpr
numpy
numpy-base
openblas
openjpeg
openssl
pandas
pandoc
pcre
pcre2
pillow
pixman
poppler
postgresql
preshed
proj
psutil
pthread-stubs
py-xgboost
pydantic
pydantic-core
pyproj
pyreadstat
python
pyyaml
pyzmq
readline
regex
rpds-py
rtree
scikit-learn
scipy
shapely
snappy
spacy
sqlalchemy
sqlite
srsly
statsmodels
thinc
tiledb
tk
tornado
tzcode
uriparser
wasabi
websockets
wordcloud
xerces-c
xgboost
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
yaml
zeromq
zlib
zstd
